
.files-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
    left: 0px;
}

.files-header {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items:stretch;
}

.files-header-back {
    border: 1px solid darkgrey;
    border-radius: 7px;
    background-color: #e0e0e0;
    text-align: center;
    max-height: 1.3em;
    padding-right: 3px;
    padding-left: 3px;
    font-size: small;
    cursor: pointer;
}

.files-header-back:hover {
    border-color: black;
    box-shadow: 2px 2px 2px grey;
}

.files-header-text {
    flex: 1;
    min-height: 5vh;
    padding-left:10px;
    white-space: nowrap;
}

.files-header-fill {
    flex: 10;
}

.files-types-add-new-wrapper {
    flex: 5;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items:stretch;
}

.files-types-upload-wrapper {
    margin-right: 10px;
}

.files-types-upload-border {
    min-width: 30px;
    min-height: 25px;
    border: 1px dashed lightgrey;
    border-radius: 5px;
    top: 0px;
}

.files-types-list-wrapper {
    align-self: end;
}

.files-add-new-button-wrapper {
    align-self: end;
}

.files-types-option {
}

.files-type-option-item {
}

.files-table {
    border-width: 1px 1px 1px 1px;
    border-color: black;
    border-style: solid;
}

.files-table-titles {
}

.files-title-text {
    min-width: 3vw;
    height: calc(1em + 20px);
    background-color: lightgrey;
    color: black;    
    font-size: small;
    font-weight: bold;
}

.files-title-extra {
}

.files-add-new-button {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: powderblue;
    font-weight: normal !important;
    cursor: pointer;
}

.files-add-new-button:hover {
    box-shadow: 2px 2px 2px grey;
}

.files-detail-row {
}

.files-detail-item {
}

.files-detail-name {
    font-weight: bold;
    text-align: left;
}

.files-detail-type {
}

.files-detail-location {
    text-align: left;
}

.files-detail-id {
}

.files-detail-is-file {
}

.files-detail-checkmark {
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    width: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.files-detail-checkmark-on {
    background: radial-gradient(lime, green);
}

.files-detail-checkmark-off {
    background-color: lightgrey;
}

.files-detail-edit {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgreen;
    cursor: pointer;
}

.files-detail-delete {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: mistyrose;
    cursor: pointer;
}

