
.algs-wrapper {
    margin: 2vh 2vw 2vh 2vw;
    min-width: 50vw;
    min-height: 50vh;
    border: 1px solid black;
    padding: 2vh 2vw 2vh 2vw;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
}

.algs-title {
    font-size: xx-large;
    margin-bottom: 3vh;
}

.alg-table {
    border-size: 1px 1px 0 1px;
    border-color: black;
    border-style: solid;
}

.alg-titles-row {
}

.alg-title {
    height: calc(1em + 20px);
    background-color: darkkhaki;
    color: black;    
    font-size: large;
    font-weight: bold;
}

.add-new-button {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: powderblue;
    font-weight: normal !important;
}

.alg-detail-row {
}

.alg-detail-item {    
}

.alg-detail-name {
    font-weight: bold;
}

.alg-detail-id {
}

.alg-detail-type {
    font-style: italic;
}

.alg-detail-edit {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgreen;
    max-width: 5em;
}

.alg-detail-delete {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: mistyrose;
}
