.app {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.app-header {
  background: white;
  min-height: 100px;
}

.app-header-wrapper {
  margin-left: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.app-header-item {
  margin: 0px;
  border: 3px solid grey;
  border-radius: 15px;
  color: black;
  background-color: lightgrey;
  font-size: large;
  min-width: 5vw;
}

.app-title-text {
  position: absolute;
  left: 10px;
  top: 20px;
}

.body-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top:  2px solid grey;
  background-color: rgb(245, 245, 245);
  width: 100vw;
  box-shadow: inset 0px 3px 5px rgb(128, 128, 128, .2);
}


.sidemenu-wrapper {
  min-width: 200px;
  max-width: 200px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-right: solid 1px grey;
  box-shadow: inset 0px 3px 5px rgb(128, 128, 128, .2);
}

.sidemenu-item {
  color: black;
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgrey;
  min-height: 2vh;
}

.main-area {
  width: 100vw;
  height: 100vh;
}
