
.workflow-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
    left: 0px;
}

.workflow-table {
    border-width: 1px 1px 1px 1px;
    border-color: black;
    border-style: solid;
}

.workflow-table-titles {    
}


.workflow-title-text {
    min-width: 3vw;
    height: calc(1em + 20px);
    background-color: lightgrey;
    color: black;    
    font-size: small;
    font-weight: bold;
}

.workflow-types-list-wrapper {
    align-self: end;
}

.workflow-new_wrapper {
    width: 100%;
    background-color: #e5e5e5;
    min-height: 20%;
}

.workflow-new-title {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.workflow-new-items-table {
    width: 100%;
}

.workflow-add-new-button-wrapper {
    align-self: end;
}

.workflow-types-option {
}

.workflow-type-option-item {
}

.workflow-add-new-button {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: powderblue;
    font-weight: normal !important;
    cursor: pointer;
}

.workflow-add-new-button:hover {
    box-shadow: 2px 2px 2px grey;
}

.workflow-new-footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
}

.workflow-new-footer-run {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: powderblue;
    font-weight: normal !important;
    cursor: pointer;
}

.workflow-new-footer-disabled {
    border-color: #e0e0e0;
    color: grey;
    background-color: #f0f0f0;
    cursor: default;
}

