
.workflow-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
    left: 0px;
}

.workflow-table {
    border-width: 1px 1px 1px 1px;
    border-color: black;
    border-style: solid;
}

.workflow-table-titles {    
}


.workflow-title-text {
    min-width: 3vw;
    height: calc(1em + 20px);
    background-color: lightgrey;
    color: black;    
    font-size: small;
    font-weight: bold;
}

.workflow-types-list-wrapper {
    align-self: end;
}

.workflow-new-wrapper {
    width: 100%;
    background-color: #e5e5e5;
    min-height: 20%;
}

.workflow-new-title {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.workflow-new-items-table {
    width: 100%;
}

.workflow-details-wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
}

.workflow-details-bar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
}

.workflow-details-show-item {
    color: blue;
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
    cursor: pointer;
}

.workflow-details-showing {
    font-weight: bold;
}

.workflow-details-show-text-wrapper {
}

.workflow-details-show-text-wrapper:hover {
    background-color: #e0e0e0;
}

.workflow-details-show-messages {
}

.workflow-details-show-errors {
}

.details-count-item {
    font-size: x-small;
}

.details-count-message {    
    color: deepskyblue;
}

.details-count-error {
    color: salmon;
}

.workflow-details-show-spacer {
    flex: 20;
}

.workflow-details-status-wrapper {
    white-space: nowrap;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
}

.workflow-details-status-prompt {
    margin-right: 5px;
}

.workflow-details-status {
    margin-left: 5px;
}

.workflow-details-refresh {
    font-size: small;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgreen;
    cursor: pointer;
}

.workflow-details-details-wrapper {
    margin: 0px 10px 10px 10px;
    border: 1px solid black;
    min-height: 200px;
}

.workflow-details-details {
    max-height: 70vh;
    color: white;
    background-color: black;
    overflow-x: scroll;
    overflow-y: scroll;
    font-size: small;
    text-align: left;
    white-space: pre;
}

.workflow-details-pending-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 100vw;
    bottom: 100vh;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    background-color: rgb(230, 230, 230, .7);
}

.workflow-details-pending-spacer {
    flex: 20;
}

.workflow-details-pending-prompt {
    color: black;
}

.workflow-add-new-button-wrapper {
    align-self: end;
}

.workflow-types-option {
}

.workflow-type-option-item {
}

.workflow-add-new-button {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: powderblue;
    font-weight: normal !important;
    cursor: pointer;
}

.workflow-add-new-button:hover {
    box-shadow: 2px 2px 2px grey;
}

.workflow-new-footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
}

.workflow-new-footer-run {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: powderblue;
    font-weight: normal !important;
    cursor: pointer;
}

.workflow-new-footer-disabled {
    border-color: #e0e0e0;
    color: grey;
    background-color: #f0f0f0;
    cursor: default;
}

.workflow-detail-messages {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgreen;
    cursor: pointer;
}

.workflow-detail-download {
}

.workflow-detail-delete {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: mistyrose;
    cursor: pointer;
}

.workflow-details-download-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
}

.workflow-details-graphic-wrapper {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
}

.workflow-details-graphic-wrapper:hover {
    background-color: lightgreen;
}

.workflow-details-download-spacer {
    flex: 20;
}
