
.edit-workflow-wrapper {
    margin: 2vh 2vw 2vh 2vw;
    min-width: 50vw;
    min-height: 50vh;
    border: 1px solid black;
    padding: 2vh 2vw 2vh 2vw;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
}

.edit-title {
    font-size: xx-large;
    margin-bottom: 3vh;
}


.edit-field-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    margin-bottom: 3vh;
}

.field-edit-item {
    flex: 1;
}

.field-name-label {
}

.field-name-edit {
    margin-right: 10px;
    margin-left: 10px;
}

.save-edit {
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgreen;
}

.workflow-wrapper {
    flex: 30;
}

.workflow-table {
    border-size: 1px 1px 0 1px;
    border-color: black;
    border-style: solid;
}

.workflow-title-row {
}

.workflow-title {
    height: calc(1em + 20px);
    background-color: darkkhaki;
    color: black;    
    font-size: large;
    font-weight: bold;
}

.workflow_item_wrapper {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
}

.workflow_item_name {
    padding-right: 10px;
}
